//weapons

	kinetic only
		unless it airbursts
	max gauge only
		simple weapons and sub 60mm aps is okay
	
	no Guided munitions
	
	no gunpowder APS pure rail power only
	
	no energy weapons

//hull layouts

	surface ships must float on own bounacy
	flyers receive a penalty to total volume limit per class TBD see below
		MTL 2/3s total surface ship volume
	
	size restictions based on class and Gun layouts are subject to be determined when more information is available to flavortown
	
 
//power plants
 
 	no fuel engines
 	no steam props
 
//ai and control

	no GENERAL PURPOSE pids
	
	
//misc
	no spacecraft
	
*note exceptions will be made for other vehicle types should said type be suffiencently interesting or fill Gaps
	
